TELEGRAM_BOT_TOKEN=bot_token
TELEGRAM_BOT_USERNAME=elistening_bot
SITE_URL=http://192.168.1.178:5173

# Bot backend bilan bitta bazadan foydalanadi.
DJANGO_SETTINGS_MODULE=config.settings.bot
DATABASE_URL=
